<main>

<div class="content">

<div class="header">
  <h1>Welcome to <span style="color:green">TASK</span><span style="color: black;">IT</span>!</h1>
  <p>SignUp and get your tasks done</p>
</div>
<div class="signupform form-group">
<form action="" #signupform="ngForm" (ngSubmit)="AuthFormSubmit(signupform)" >
<label for="name">Name</label>
<input type="text" name="name" id="name" class="form-control" ngModel required>
<label for="lastname">Last Name</label>
<input type="text" name="lastname" id="lastname" class="form-control" ngModel required>
<label for="email">Email</label>
<input type="email" name="email" id="email" class="form-control" class="form-control" ngModel required>

<label for="password" class="for">Password</label>
<input type="password" name="password" id="password" class="form-control" ngModel required minlength="8">
<label for="papassword">Confirm pasword</label>
<input type="password" name="papassword" id="papassword" class="form-control" ngModel required minlength="8">
<div class="buttons"><button class="btn btn-success" type="button">Cancel</button><button class="btn btn-success" type="submit">Sign Up</button></div>
</form>

</div>
<div></div>

</div>


</main>
