<div class="main">
  <div class="content">
    <div class="upper">
      <div class="header">
        <h1>I'm Bored</h1>
        <p>Let's find something to do</p>
      </div>
      <div class="button">
        <button class="btn btn-success">Regenerate Task</button>
      </div>
    </div>
    <div class="down">

      <div class="card">
        <div class="apitask"></div>
        <div class="addbutton"><img src="/assets/icons/plus.svg" alt="" srcset=""></div>
      </div>

    </div>
  </div>
</div>
