<div class="main">
  <div class="content">
    <div class="upper">
      <div class="header">
        <h1>I'm Bored</h1>
        <p>Let's find something to do</p>
      </div>
      <div class="button">
        <button class="btn btn-success" (click)="newTask()">Regenerate Task</button>
      </div>
    </div>
    <div class="down">

      <div class="card" *ngIf="apicalled">
        <div class="apitask"><h4>{{ntask}}</h4></div>
        <div class="addbutton"><img src="/assets/icons/plus.svg" alt="" srcset="" (click)="openForm()"></div>
      </div>

    </div>
  </div>
</div>
<app-newtask *ngIf="taskform" (taskdone)="closeForm()" (newtask)="addTask($event)" [tasktitle]="ntask"></app-newtask>
