.main{

  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
}

.content{

display: flex;
flex-direction: column;
gap: 20px;
}

.upper{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.down{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{

height: 250px;
width: 350px;
border-radius: 5px;
background-color: rgba(204, 231, 213, 0.952);
display: flex;
flex-direction: column;
padding: 25px;


}
.apitask{
  margin-top: 35px;
  flex: 1;
  min-height: 80%;
  justify-self: center;
  align-self: center;
}
.apitask h4{
color: green;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: 700;
}
.addbutton{
  align-self: flex-end;

}
