<div class="main">
  <!-- <app-kanbanitem *ngFor="let item of kanbanlist"  *ngIf="item==='red'"  ></app-kanbanitem>
 -->
  <div class="kanboard">
    <div class="to-do">
      <h6>To do</h6>
      <div class="to-do-list">
        <div class="tasks-list">
          <div *ngFor="let task of kanbanlist">
            <div class="item" *ngIf="task.status === 'To Do' ? true : false">
              <!-- {{task.name}} -->
              <div class="kanban-grid">
                <h6 class="name">{{ task.name }}</h6>
                <p class="priority">Priority:{{ task.priority }}</p>
                <p class="date">Date:{{ task.date }}</p>

                <select name="letasks" id="letasks" (click)="demo($event,task)" class="task-select blue">
                  <option value="To Do">To Do</option>
                  <option value="Done">Done</option>
                  <option value="In progress">In progress</option>

                </select>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="in-progress">
      <h6>In progress</h6>
      <div class="in-progress-list">
        <div class="tasks-list">
          <div *ngFor="let task of kanbanlist">
            <div class="item" *ngIf="task.status === 'In progress' ? true : false">
              <!-- {{ t.name }} -->
              <div class="kanban-grid">
                <h6 class="name">{{ task.name }}</h6>
                <p class="priority">Priority:{{ task.priority }}</p>
                <p class="date">Date:{{ task.date }}</p>

                <select name="letasks" id="letasks" (click)="demo($event,task)" class="task-select green">
                  <option value="In progress">In progress</option>
                  <option value="Done">Done</option>
                  <option value="To Do">To Do</option>
                </select>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="done">
      <h6>Done</h6>
      <div class="done-list">
        <div class="tasks-list">
          <div *ngFor="let task of kanbanlist">
            <div class="item" *ngIf="task.status == 'Done'">
              <!-- {{ tas.name }} -->
              <div class="kanban-grid">
                <h6 class="name">{{ task.name }}</h6>
                <p class="priority">Priority:{{ task.priority }}</p>
                <p class="date">Date:{{ task.date }}</p>
                <!-- cambio qui -->
               <select name="letasks" id="letasks" (click)="demo($event,task)" class="task-select pink">
    <option value="Done">Done</option>
    <option value="In progress">In progress</option>
    <option value="To Do">To Do</option>
  </select>
                <!--  invio task al evento. task indexOf. poi modifico -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- creare tre app components per todo in progress done subritte a service che cambianno con click -->
  </div>
</div>
