<div class="conteiner" *ngIf="isAuthenticated">
  <div class="top_sidebar">
    <h1 style="color: green;cursor: pointer;" (click)="GoHome()">TASK<span style="color: black; cursor: pointer;">IT</span>
    </h1>
    <div style="display: flex; flex-direction: column;gap: 15px;width: 95px;justify-content: center;align-items: center;">
      <button class="btn btn-success"  style="width: 92.2px;" (click)="GoToTask()">Task List</button>
    <button class="btn btn-success" style="width: 92.2px;"  (click)="GoToKanban()">KanBan</button>
    <button class="btn btn-success"  style="width: 92.2px;"  (click)="GoBored()">I'm bored</button>
    </div>
  </div>

  <div class="bottom_sidebar">
    <hr>
    <div class="user-profile">
      <img src="https://tinyurl.com/yc22bz4y" alt=""><div class="account">
        <p>{{userEmail}}</p>
        <div class="logout">
          <p>{{name}}</p><!-- <select><option value="" (click)="OnSignOut()" >Log out</option></select> --> <button (click)="OnSignOut()" id="lot">Sign out</button>
        </div>
      </div>
    </div>
  </div>
</div>
