<!-- <div class="container newtask">

  <div class="row">
    <div class="col-12">
      <p>newtask works!</p>
    </div>
  </div>

</div> -->

<!-- <div class="container newtask">
<div class="row">
  <button class="btn btn-danger">X</button>
</div>
  <div class="row">

    <div class="col-md-6 mx-auto">
      <form>
        <div class="form-group">
          <label for="taskname">New Task title</label>
          <input type="text" class="form-control" id="taskname" placeholder="be happy">
        </div>
        <div class="form-group">
          <label for="taskdate">Date:</label>
          <input type="date" class="form-control" id="taskdate" >
        </div>
        <div class="form-group">
          <label for="priority">Priority</label>
          <select class="form-control" id="priority">
            <option>High</option>
            <option>Medium</option>
            <option>Low</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div> -->

<!-- provaqui -->

<div class="container newtask">
  <div class="row">
    <button class="btn btn-outline-light btn-danger1 " (click)="OnCloseTask()"><img src="assets/icons/ics.svg" alt=""></button>
  </div>
  <div class="row">
    <h3 id="formtitle">Add New Task</h3>
  </div>
  <form (ngSubmit)="OnFormSubmit(newTaskForm)" #newTaskForm="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="tasktitle">Title</label>
        <input
          type="title"
          class="form-control"
          id="tasktitle"
          placeholder="clean the room or something"
          ngModel
          name="title"
          required
          #titleRef="ngModel"
        />
        <span class="help-block text-danger" *ngIf="!titleRef.valid && titleRef.touched">You can't just do nothing all day!!</span>
      </div>
      <div class="form-group col-md-6">
        <label for="taskdate">Date:</label>
        <input type="date" class="form-control" id="taskdate" ngModel name="date" required #dateRef="ngModel" />
        <span class="help-block text-danger" *ngIf="!dateRef.valid && dateRef.touched">When?Set a date</span>
      </div>
    </div>
    <div class="form-row">
      <div class="col-6">
        <div class="form-group">
          <label for="taskdescription">description</label>
          <textarea
            class="form-control"
            id="taskdescription"
            rows="4"
            ngModel
            name="description"  #descriptionRef="ngModel"
          ></textarea>
        </div>
      </div>
      <div class="col-6">
        <div class="form-row">
          <div class="col-8">
            <div class="form-group">
              <label for="priority">Priority</label>
              <select class="form-control" id="priority" ngModel="High" name="priority" required #priorityRef="ngModel" >
                <option>High</option>
                <option>Medium</option>
                <option>Low</option>
              </select>
              <span class="help-block text-danger" *ngIf="priorityRef.touched && !priorityRef.valid">Priority are important in life</span>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-8">
            <div class="form-group">
              <label for="Status">Status</label>
              <select class="form-control" id="status" ngModel="To Do" name="status" required #statusRef="ngModel"  >
                <option>To Do</option>
                <option>Done</option>
                <option>In progress</option>
              </select>
              <span class="help-block text-danger" *ngIf="statusRef.touched && !statusRef.valid">So...are you done?</span>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-8">
            <div class="row button-row">
              <button class="btn btn-danger" (click)="OnCloseTask()">cancel</button>
              <button class="btn btn-success" type="submit" [disabled]="!newTaskForm.valid" >
                create
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
