
.taskrow{
  box-sizing: border-box;
  display: flex;/* s */
  gap: 15%;
  text-align: start;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.taskrow *{
  width: 18%;
}

.taskicons{
  /* width: 100%; */
  display: flex;
  gap: 9px;
  justify-content: flex-start;
}
.taskicons img{
  width: 16px;
  height: 16px;
}
